.site-footer{
    background: #fff;
    font-size: 14px;
    color: #444;
    border-top: 1px solid #e5e5e5;
}

.site-footer h4{
    font-size: 15px;
    margin-bottom: 8px;
    font-weight: 600;
    color: #111;
}

.footer-top{
    max-width: 1200px;
    margin: auto;
    padding: 30px 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.footer-divider{
    height: 1px;
    background: #e5e5e5;
}

.footer-main{
    max-width: 1200px;
    margin: auto;
    padding: 40px 15px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1.5fr;
    gap: 30px;
}

.footer-about p{
    margin-bottom: 15px;
    line-height: 1.6;
}

.socials{
    display: flex;
    gap: 10px;
}
.footer-main .footer-about .socials img{
    width:30px;
    height:auto;
}


.footer-links ul{
    list-style: none;
    padding: 0;
}

.footer-links ul li{
    margin-bottom: 8px;
}

.footer-links ul li a{
    text-decoration: none;
    color: #555;
}

.footer-links ul li a:hover{
    color: #1f6fff;
}

.footer-app p{
    margin-bottom: 10px;
}

.app-buttons img{
    height: 38px;
    margin-right: 8px;
}

.footer-bottom{
    max-width: 1200px;
    margin: auto;
    padding: 20px 15px;
    border-top: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payments img{
    height: 24px;
    margin-left: 8px;
}