
.wrapper{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.headline{
    text-align: center;
    margin: 40px 0;
}

.headline h3{
    font-size: 18px;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #bebebe;
    display: inline-block;
    color: #555;
    font-weight: 600;
}

ul.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
}

.product-item{
    background: #fff;
    border: 1px solid #eee;
    transition: 0.3s ease;
}

.product-item:hover{
    transform: translateY(-4px);
}

.product-top{
    position: relative;
    overflow: hidden;
}

.product-thumb{
    display: block;
}

.product-thumb img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    display: block;
    transition: 1s ease-in-out;
}

.product-item:hover .product-thumb img{
    transform: scale(1.1);

}

.see-now{
    position: absolute;
    left: 0;
    bottom: -45px;
    width: 100%;
    text-align: center;
    background-color: #446084;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    transition: 0.4s ease;
    opacity: 0.9;
}

.product-item:hover .see-now{
    bottom: 0;
}

.product-info{
    padding: 15px;
    text-align: center;
}

.product-info a{
    text-decoration: none;
    display: block;
}

.product-cat{
    font-size: 11px;
    text-transform: uppercase;
    color: #7e7e7e;
    margin-bottom: 6px;
}

.product-quantity{
    margin-top: 6px;
    font-weight: 600;
    color: #111;
}
