.product-section{
    width:90%;
    margin:30px auto;
}

.section-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:15px;
}

.title{
    display:flex;
    gap:12px;
    align-items:center;
}

.title h2{
    font-size:22px;
    font-weight:bold;
}

.hot{
    color:#0066ff;
    font-weight:bold;
    text-transform:uppercase;
}

.controls{
    display:flex;
    align-items:center;
    gap:8px;
}

.controls button{
    position:relative;
    border:none;
    background:none;
    font-size:20px;
    cursor:pointer;
    color:#666;
}

.controls button:hover{
    color:#000;
}

.controls .prev,
.controls .next{
    top:1px;
    right:30px;
}

.slider-wrapper{
    width:1000px;
    overflow:hidden;
    border:1px solid black;
}

.slider{
    position:relative;
    height:230px;
}

.slide-group{
    position:absolute;
    inset:0;
    display:flex;
    opacity:0;
    transition:opacity .5s ease;
    pointer-events:none;
}

.slide-group.active{
    opacity:1;
    pointer-events:auto;
}

.product{
    position:relative;
    width:200px;
    padding:15px;
    text-align:center;
    border-right: 1px solid black;
}

.product img{
    width:100%;
    height:140px;
    object-fit:contain;
    transition:.3s ease;
}

.product::after{
    content:'';
    position:absolute;
    top:15px;
    left:15px;
    right:15px;
    height:140px;
    background:rgba(0,0,0,.15);
    opacity:0;
    transition:.3s;
    pointer-events:none;
}

.product button{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -30px);
    opacity:0;
    pointer-events:none;

    width:40px;
    height:40px;
    border-radius:50%;
    background-color:#0066ff;
    border:none;

    transition:
        opacity .25s ease,
        transform .25s ease;
}

.product button a{
    color:#fff;
}

.product p{
    margin-top:10px;
    font-size:13px;
    font-weight:600;
}

.product:hover button,
.product button:hover{
    opacity:1;
    transform:translate(-50%, 0);
    pointer-events:auto;
}

.product:hover img{
    transform:scale(1.05);
}

@media (max-width:768px){
    .product button{
        opacity:1;
        transform:translate(-50%, -50%);
    }
}
